@import url('https://fonts.cdnfonts.com/css/molot');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


$fondo: #323031;
$fondo2: #111214;
$primario: #7811F4;
$secundario: #13D5F0;
$negro: #00000080;
